@import '../variables/variables'

.header
  &__container
    display: flex
    justify-content: space-between
    align-items: center

    &.container
      padding: 32.5px 20px

      @media (min-width: $tablet-min) and (max-width: $tablet-max)
        &
          padding: 32.5px 32px


  &__burger-button
    background: none
    border: 0

  .companyName
    display: none

    @media (min-width: $tablet-min) and (max-width: $tablet-max)
      &
        display: block
        font-weight: 300
        padding-left: 15px
        margin: 0

  .leftGroup
    display: block

    @media (min-width: $tablet-min) and (max-width: $tablet-max)
      &
        display: flex
        align-items: center