@import '../variables/variables'

.footer
  background-color: #0578FF
  padding: 64px 20px

  @media (min-width: $tablet-min) and (max-width: $tablet-max)
    padding: 64px 32px

  .container
    padding: 0

    .leftGroup
      display: flex
      gap: 15px
      padding-bottom: 40px

      h1
        font-size: 34px
        font-weight: 400
        color: white
        margin: 0

      img
        filter: invert(1)

    .usefulData
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      gap: 24px

      @media (min-width: $tablet-min) and (max-width: $tablet-max)
        padding-right: 64px
        gap: 32px

      .about, .community, .socials
        min-width: 140px

        @media (min-width: $tablet-min) and (max-width: $tablet-max)
          min-width: 192px

      .aboutGroup, .communityGroup, .socialsGroup
        display: flex
        justify-content: space-between
        flex-direction: column
        gap: 30px

  h3
    margin: 0
    padding-top: 40px
    margin-right: -6px
    color: white
    font-weight: 600
    font-size: 16px

    .lineBreak
      display: none

      @media (min-width: $tablet-min) and (max-width: $tablet-max)
        display: inline


h4
  color: white
  font-size: 20px
  font-weight: 600
  margin: 0
  padding-bottom: 24px

p
  color: white
  font-size: 16px
  font-weight: 500
  margin: 0
  display: flex
  gap: 30px